* {
  margin: 0;
  padding: 0;
}

body {
  background-color: darkcyan;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: teal;
  font-size: 1.5rem;
  color: whitesmoke;
}

.header > .logo-container > img {
  width: 130px;
  border-radius: 50%;
}

.header > .nav-container {
  display: flex;
  list-style: none;
  align-items: center;
}

.header > .nav-container > li {
  margin: 10px;
}

.search-container {
  margin: 5px auto;
  text-align: end;
}

.search-input {
  /* border: 2px solid gray; */
  margin: 15px;
  padding: 10px;
  width: 300px;
}

.res-body {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-around;
  margin: 10px 0;
}

.filter-btn {
  padding: 15px;
  margin: 10px;
  background-color: greenyellow;
  border-radius: 5%;
  font-size: 1rem;
  color: gray;
  border: none;
  font-weight: bold;
}

.card-container {
  width: 300px;
  background-color: #b2c2bf;
}

.card-container > .img-container > img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.footer {
  padding: 20px;
  text-align: center;
  background-color: #3b3a30;
  color: aliceblue;
}

.shimmer-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-around;
}

.shimmer-card {
  width: 300px;
  background-color: #f0f0f0;
}

.shimmer-card > .shimmer-img-container > img {
  width: 300px;
  height: 300px;
}
